/* header */

a, ul{
    list-style: none;
    text-decoration: none;
    color: black;
}
.logo1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.logo{
    border-radius: 180px;
    display: block;
    margin: 0 auto;
    width: 100px;   
    height: auto;
}

.LyR{
    margin-right: 20px;
}