* {
     font-family: 'Playfair Display', serif;
   
    }

/* header */
body{
   background-color: #e8ded1;
   max-width: 100%;
}
a, ul{
   list-style: none;
   text-decoration: none;
   color: black;
}


.topbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
   background-color: #BFAC93;
   width: 100%;
}


.logo{
   border-radius: 180px;
   display: block;
   margin: 0 auto;
   width: 80px;  
   height: auto;
}


.logo1{
   display: flex;
   align-items: center;
}


.menu{
   display: flex;
   list-style: none;
   margin: 0px;
   padding: 0px;
}


.menulyr{
   display: flex;
   justify-content: space-evenly;
}
.menulyr, .menu li{
   margin-left: 15px;
}


.buscador{
   display: flex;
   justify-content: center;
   width: 420px;
}


.searchinput{
   padding: 6px 10px;
   border-radius: 10px;
   border: solid 1px #8A785E;
   width: 300px;
}
.searchbutton{
   padding: 6px 15px;
   border: none;
   background-color: #5a4630;
   color: white;
   border-radius: 20px;
   width: 80px;
}


.search{
   display: flex;
   width: 100%;
   justify-content: space-evenly;
}


/* footer */
footer{                   
    width: 100%;       
    background: #BFAC93; 
    text-align: center; 
    padding: 10px;
}

.footer1{
    max-width: 100%;
    padding: 15px 15px;
    background: #BFAC93;
    color: white;
    text-align: center;
    border-radius: 16px;
}

.textofooter1{
    color: white;
    font-weight: bold;
}

.textofooter2{
    color: white;
    font-weight: lighter;
    margin-bottom: 5px;
}

.mapa{
    width: 100px;
    height: 80px;
    border-color: #5a4630;
    
}

.titulomapa{
    color: white;
    margin-top: 5px;
}

/* form registro y Log In*/
.form{
    background-image: url(../IMG/foto\ BANNER.jpg);
}

.formEspacio{
    border-radius: 3px;
    border: 1px solid #5a4630;
    width: 100%;
    padding: 5px;
}
.form-registro, .form-login{
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0px 60px 0px;
    padding: 20px;
}
.tituloregistro, .titulologin{
    text-align: center;
}

.form-ingreso{
    background-color: #BFAC93;
    padding: 30px;
    border: 1px solid #5a4630;
    border-radius: 5px;
    width: 300px;
}

.botonregistro, .botoningresar{
    background-color: #8A785E;
    border: none;
    padding: 5px;
}

.btn{
    font-weight: bold;
}

/* aside*/
.aside{
    width: 20%;
    border: 1px solid #BFAC93;
    border-radius: 10px;
    margin: 20px;
}
.aside h2{
    margin: 20px;
}

.aside ul{
    list-style: none;
    padding: 0px;
    margin: 20px;
}

.categorias{
    padding: 15px;
}

/* productos index */
main{
    display: flex;
    align-items: flex-start;   
    flex-wrap: nowrap;
    padding: 15px;
    justify-content: space-evenly;
}
.productosaleatorios{
    width: 76%;
}
.aleatorio h1, .destacados h1{
    margin: 20px;
    border: 1px solid #BFAC93;
    background-color: #BFAC93;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}


.velasIndex1{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
}

.velas{
    border: 1px solid #BFAC93;
    border-radius: 10px;
    padding: 14px;
    background: #ece8e2;
    width: 150px;
    margin: 15px;
    display: flex;
    flex-direction: column;

}

.velas img{
    width: 150px;
    border-radius: 3px;
}

.velas div{
    margin-top: auto;
    font-weight: bold;
    text-align: center;
    color: #8A785E;
}

.velas h4{
    text-align: center;
    color: #8A785E;
}

.velas p{
    text-align: center;
}

.velas a{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #d3c0a6;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}


















.velasIndex2{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
}

.velas2{
    border: 1px solid #BFAC93;
    border-radius: 10px;
    padding: 14px;
    background: #ece8e2;
    max-width: 290px;
    margin: 15px;
    display: flex;
    flex-direction: column;

}

.velas2 img{
    width: 100%;
    height: 360px;
    border-radius: 3px;
}

.velas2 div{
    margin-top: auto;
    font-weight: bold;
    text-align: center;
    color: #8A785E;
}

.velas2 h4{
    text-align: center;
    color: #8A785E;
}

.velas2 p{
    text-align: center;
}

.velas2 a{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #d3c0a6;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

/* producto */
.producto{
    display: flex;
    flex-direction: column;
    padding: 10px 165px;
}
.velaalma{
    display: flex;
    align-items: flex-start;
    border: 1px solid #BFAC93;
    border-radius: 12px;
    background: #f3ece3;        
    padding: 16px;

}
.velaalma img{
    max-width: 450px; 
    border-radius: 8px;
    justify-content: center;
}
.info{
    margin-left: 24px;
}

.valor{
    font-weight: bold;
}

.velaalma .info ul.tags li {
    display: inline-block;
    list-style: none;
    padding: 4px;
    margin: 0;
    background-color:#BFAC93;
    border-radius: 12px; 
}

.tituloproductoALMA{
    text-align: center;
}

.precioALMA{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.stockALMA{
    text-align: center;
}

.reviews{
    display: block; 
    border: 1px solid #BFAC93;
    border-radius: 12px;
    background: #f3ece3;        
    padding: 16px;
    margin-top: 20px; 
    width: 100%; 
    box-sizing: border-box;
}

.fecha{
    color: hsla(0, 0%, 0%, 0.5);
    text-align: end;
    font-size: small;
}

.opinion{
    font-style: italic;
}

.estrellas{
    color: gold;
}

.botoncomentario, .boxcomentario{
    border-radius: 20px;
    border: none;
}

.botoncomentario{
    background-color: #d3c0a6;
}

/* category */
.velasaromaticas{
    width: 76%;
}
.velasaromaticas h1{
    margin: 20px;
}
.velasAromaticas{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
}

/* resultados */

.velap{
    margin: 20px;
}

.velasaromaticas{
    width: 76%;
}

.velasAromaticas {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
}

.hint {
    margin: 20px;
}