* {
     font-family: 'Playfair Display', serif;
}

/* header */

a, ul{
    list-style: none;
    text-decoration: none;
    color: black;
}

.topbar{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #BFAC93;
    border-radius: 15px;
}

.logo1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.logo{
    border-radius: 180px;
    display: block;
    margin: 0 auto;
    width: 80px;   
    height: auto;
}

.topnav{
    width: 100%;
}

.menu{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.LyR{
    margin-right: 20px;
}

.search{
    display: flex;
}

.buscador{
    margin-right: 10px;
    min-width: 220px;
    padding: 6px;
    border-radius: 10px;
    border: solid 1px #8A785E;
}

.buscador1{
    border-radius: 10px;
    border: solid 1px #8A785E;
    background-color: #8A785E;
}

.search{
    border: #8A785E;
}

/* footer */
footer{
    bottom: 0;          
  left: 0;           
  width: 100%;       
  background: #BFAC93; 
  text-align: center; 
  padding: 10px;
}

.footer1{
    max-width: 1200px;
    padding: 15px 16px;
    background: #BFAC93;
    color: white;
    text-align: center;
    border-radius: 16px;
}

.textofooter1{
    color: white;
    font-weight: bold;
}

.textofooter2{
    color: white;
    font-weight: lighter;
}

/* form registro y Log In*/
.form{
    background-image: url(../IMG/foto\ BANNER.jpg);
}
.form-registro, .form-login{
    max-width: 400px; 
    margin: 60px auto; 
    padding: 20px;
}
.tituloregistro, .titulologin{
    text-align: center;
}

.form-ingreso{
    background-color: #BFAC93;
    padding: 30px;
    border: 1px solid none;
    border-radius: 5px;
    width: 300px;
    margin: auto;
}

.botonregistro, .botoningresar{
    background-color: #8A785E;
    border: none;
    padding: 5px;
}

.btn{
    font-weight: bold;
}

/* productos */